body{
	margin:0px;
	font-family: Arial;
	background-image: url(https://images.unsplash.com/photo-1565157815331-b23f51950854?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);
	background-size: cover;
}

.grid-wrapper{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));

}

img {
	width: 450px;
	height: 300px;
	margin: 10 px;
	border: 5px solid #ecf0f1;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
    border: 5px solid #16a085;

}

footer {
	display: flex;
	background-image: url(https://images.unsplash.com/photo-1565157815331-b23f51950854?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);
	background-size: cover;
	justify-content: center;
	align-items: center;
 	height: 20vh;
 	background-color: #ecf0f1;
 	border-top: 5px solid #ecf0f1;
 	-moz-box-shadow:0px 4px 5px #888888;
	-ms-box-shadow: 0px 4px 5px #888888;
	-webkit-box-shadow: 0px 4px 5px #888888;
	-o-box-shadow: 0px 4px 5px #888888;
	box-shadow: 0px 4px 5px #888888;
}

footer > p {
	color: #27ae60;
	font-family: fantasy;
	font-size: 1em;

}

h1 {
	color :#16a085;
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid #ecf0f1;
	border-right: 2px solid #ecf0f1;
	width: 400px;
	text-align: center;
	-moz-box-shadow:4px 4px 5px #888888;
	-ms-box-shadow: 4px 4px 5px #888888;
	-webkit-box-shadow: 4px 4px 5px #888888;
	-o-box-shadow: 4px 4px 5px #888888;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
}